.blog-archive-header {
	margin-bottom: 24px;

	.title {
		@include font-size-h3;
		margin-bottom: 0;

		.keyword {
			color: $color-one-500
		}
	}
}

.blog-single-header {
	margin-bottom: 24px;

	.hero {
		margin-bottom: 16px;
	}

	.title {
		margin-bottom: 4px;
	}

	.meta {
		@include font-size-400;
		color: $color-text-light;
	}
}

.blog-single-footer {
	margin-top: 32px;
}

.blog-category {

	.list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.blog-next {
	background-color: $color-background-light;
	padding: 16px;
}

.blog-next-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;

	.title {
		margin-bottom: 0;
	}
}

.blog-next-article {
	@include clearfix;
	width: 100%;

	a {
		color: $color-text;
		text-decoration: none;

		&:hover,
		&:focus {

			.title {
				color: $color-one-500;
			}
		}
	}

	.thumbnail {
		margin-bottom: 8px;

		@include breakpoint(creeper) {
			float: left;
			margin-bottom: 0;
			margin-right: 16px;
			max-width: 40%;
			width: 160px;
		}
	}

	.article {
		overflow: hidden;
	}

	.title {
		@include font-size-h4;
		margin-bottom: 4px;
		transition: all 0.2s ease-out;
	}
}

.blog-overviews {
	@include clearfix;
	margin: -8px;

	@include breakpoint(creeper) {
		margin: -12px;
	}
}

.blog-overview {
	float: left;
	padding: 8px;
	width: 50%;

	&:nth-child(2n+1) {
		clear: both;
	}

	@include breakpoint(creeper) {
		padding: 12px;
	}

	@include breakpoint(crawler) {
		width: 33.333333333%;

		&:nth-child(2n+1) {
			clear: none;
		}

		&:nth-child(3n+1) {
			clear: both;
		}
	}

	a {
		text-decoration: none;
	}

	.thumbnail {
		margin-bottom: 12px;
	}

	.title {
		@include font-size-h4;
		margin-bottom: 2px;
	}

	.time {
		@include font-size-300;
		color: $color-text-light;
	}

	.excerpt {
		color: $color-text;
	}
}

.blog-sidebar {
	display: none;

	@include breakpoint(walker) {
		display: block;
	}
}

.blog-navigation {
	margin-bottom: 24px;

	@include breakpoint(walker) {
		display: none;
	}

	.blog-navigation-content {
		display: none;
	}

	.search-form {
		margin: 16px 0;
	}
}
