.marketing-benefit {
	@include clearfix;
	margin: -12px;
}

.marketing-benefit-item {
	@include box-shadow-500;
	background-color: $white;
	border-radius: 12px;
	float: left;
	margin: calc(12px);
	padding: 16px;
	text-align: center;

	@include breakpoint(creeper) {
		padding: 24px;
	}

	@include breakpoint(crawler) {
		width: 48%;
		width: calc(50% - 24px);
	}

	@include breakpoint(runner) {
		width: 33.333333333%;
		width: calc(33.333333333% - 24px);

		&:nth-child(3n+1) {
			clear: both;
		}
	}

	@include breakpoint(jumper) {
		padding: 32px;
	}

	.image {
		margin-bottom: 16px;
	}

	.title {
		@include font-size-h4;
		margin-bottom: 4px;
		text-transform: uppercase;
	}

	.desc {
		@include font-size-400;

		@include breakpoint(walker) {
			@include font-size-500;
			line-height: 1.25;
		}
	}
}

.marketing-brand {
	margin: -16px;
	text-align: center;
}

.marketing-brand-item {
	display: inline-block;
	padding: 16px;
	vertical-align: middle;

	a {
		transition: all 0.2s ease-out;

		&:hover,
		&:focus {
			display: block;
			opacity: 0.8;
		}
	}
}

.marketing-register {
	text-align: center;

	.title {
		margin-bottom: 8px;
		text-transform: uppercase;
	}

	.desc {
		@include font-size-600;
		font-weight: 700;
	}
}

.marketing-statistics {
	@include clearfix;
	margin: -12px;

	@include breakpoint(runner) {
		margin: -12px auto;
		max-width: 1024px;
	}
}

.marketing-statistic {
	float: left;
	overflow: hidden;
	padding: 12px;
	text-align: center;
	width: 50%;

	@include breakpoint(crawler) {
		width: 25%;
	}

	.image {
		margin-bottom: 8px;
	}

	.icon {
		fill: $color-400;
		height: 80px;
		width: 80px;
	}

	.title {
		@include font-size-h6;
		font-weight: 700;
		margin-bottom: 2px;
		text-transform: uppercase;
	}

	.value {
		@include font-size-800;
		color: $color-one-500;
		display: inline-block;
		font-weight: 700;
		position: relative;

		@include breakpoint(runner) {
			@include font-size-900;
		}

		&:after {
			content: "+";
			font-size: 24px;
			font-weight: 400;
			line-height: 30px;
			position: absolute;
			top: 0;
			right: -16px;

			@include breakpoint(runner) {
				line-height: 44px;
			}
		}
	}
}

.marketing-marketplace {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}
