.mobile-nav-is-toggled {

	.site {

		&:before {
			opacity: 0.5;
			visibility: visible;
			z-index: 10;

			@include breakpoint(walker) {
				display: none;
			}
		}
	}
}

.mobile-nav-is-untoggling {

	.site {

		&:before {
			opacity: 0;
			z-index: 9;
		}
	}
}

.mobile-nav-toggle {

	@include breakpoint(walker) {
		display: none;
	}

	.icon {
		height: 32px;
		width: 32px;
	}
}

.mobile-nav {
	background-color: $color-background;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	left: 100%;
	transition: all 0.2s $ease;
	width: 240px;
	z-index: 11;

	@include breakpoint(walker) {
		display: none !important;
	}

	&.is-toggled {
		transform: translateX(-100%);
	}

	.menu {
		border-bottom: 2px solid rgba($white, 0.08);
		padding: 16px;

		&:last-child {
			border-bottom: 0;
		}
	}

	.item {
		margin-bottom: 2px;
	}

	.link {
		border-radius: 8px;
		color: $white;
		display: block;
		font-weight: 700;
		padding: 8px 16px;
		transition: all 0.2s ease-out;

		&.link-highlight {
			background-color: $color-one-500;

			&:hover,
			&:focus {
				background-color: $color-one-600;
			}
		}

		&:hover,
		&:focus {
			background-color: rgba($white, 0.08);
			text-decoration: none;
		}
	}

	.icon {
		fill: $white;
		position: relative;
		top: -2px;
	}

	.count {
		background-color: $color-alert;
		border-radius: 16px;
		color: $white;
		display: inline-block;
		font-size: $font-size-200;
		font-weight: 400;
		height: 16px;
		line-height: 16px;
		position: relative;
		text-align: center;
		top: -1px;
		width: 16px;
	}
}

.mobile-filter {
	background-color: $color-background-dark;
	height: 100%;
	left: 0;
	overflow-y: auto;
	padding: 16px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
}
