.review-summary {

	.average {
		font-weight: 700;
		margin-bottom: 2px;
	}
}

.review-post {
	border: 1px solid $color-border-light;
	margin-bottom: 16px;
	padding: 16px;

	&:last-child {
		margin-bottom: 0;
	}
}

.review-post-header {
	@include clearfix;
	margin-bottom: 8px;

	.image {
		float: left;
		margin-right: 12px;
	}

	.info {
		overflow: hidden;
	}

	.title {
		@include font-size-h4;
		margin-bottom: 4px;
		text-transform: none;
	}

	.meta {
		@include font-size-400;
		color: $color-text-light;
		margin-bottom: 4px;
	}
}

.review-post-content {
	@include font-size-400;
}
